
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <div class="row">
                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                    <div class="form-floating">
                        <input type="text" name="CodigoMuestra" class="form-control" id="CodigoMuestra" placeholder="Código de Muestra" value="<%= locals.old && old.CodigoMuestra %>">
                        <label for="floatingInputGrid">Código de Muestra</label>
                    </div>
                </div>
                <% if (locals.errors && errors.CodigoMuestra) { %>
                    <p class="text-warning small text-start"><%= errors.CodigoMuestra.msg %></p>
                <% } %>

                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                    <div class="form-floating">
                        <input type="number" name="SP" class="form-control" id="SP" placeholder="SP de Muestra"  value="<%= locals.old && old.SP %>">
                        <label for="floatingInputGrid">SP de Muestra</label>
                    </div>
                </div>
                <% if (locals.errors && errors.SP) { %>
                    <p class="text-warning small text-start"><%= errors.SP.msg %></p>
                <% } %>

                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                    <div class="form-floating">
                        <input type="text" name="NombreMuestra" class="form-control" id="NombreMuestra" placeholder="Nombre de Muestra"  value="<%= locals.old && old.NombreMuestra %>">
                        <label for="floatingInputGrid">Nombre de Muestra</label>
                    </div>
                </div>
                <% if (locals.errors && errors.NombreMuestra) { %>
                    <p class="text-warning small text-start "><%= errors.NombreMuestra.msg %></p>
                <% } %>

                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                    <select class="form-select" name="UnidadMedida" id="UnidadMedida" required>
                        <option selected disabled value="">Unidad de medida</option>
                        <option value="Litros">Litros</option>
                        <option value="Kilogramos">Kilogramos</option>
                    </select>
                </div>
                <% if (locals.errors && errors.UnidadMedida) { %>
                    <p class="text-danger small text-start "><%= errors.UnidadMedida.msg %></p>
                <% } %>

                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                    <div class="form-floating small">
                        <input type="number" name="Cantidad" class="form-control" id="Cantidad" placeholder="Cantidad"  min="0" step="any" value="<%= locals.old && old.Cantidad %>">
                        <label for="floatingInputGrid">Cantidad</label>
                    </div>
                </div>
                <% if (locals.errors && errors.Cantidad) { %>
                    <p class="text-danger small text-start "><%= errors.Cantidad.msg %></p>
                <% } %>

                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                    <div class="form-floating small">
                        <input type="number" name="Concentracion" class="form-control" id="Concentracion" placeholder="Concentracion (%)"  min="0" step="any" value="<%= locals.old && old.Concentracion %>">
                        <label for="floatingInputGrid">Concentracion (%)</label>
                    </div>
                    <!-- Mensajes de Verificación -->
                    <div id="errorConcentracion" class="alert alert-danger small ocultar" role="alert">
                        Debes ingresar la Concentracion de la muestra !
                    </div>
                    <!-- Fin Mensajes de Verificación -->
                </div>
                <% if (locals.errors && errors.Concentracion) { %>
                    <p class="text-danger small text-start "><%= errors.Concentracion.msg %></p>
                <% } %>
                
                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9 ">
                    <select class="form-select" name="idTipoDeMuestra" id="idTipoDeMuestra" required>
                        <option selected value="" disabled>Seleccionar Tipo de Muestra</option>
                        <option value="1">Comercial</option>
                        <option value="2">Experimental</option>
                        <option value="3">Estándar Comercial</option>
                    </select>
                </div>
                <% if (locals.errors && errors.idTipoDeMuestra) { %>
                    <p class="text-danger small text-start "><%= errors.idTipoDeMuestra.msg %></p>
                <% } %>
                
                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9 mt-2">
                    <select class="form-select" id="CodigoFormulacion" name="CodigoFormulacion" required>
                        <option selected value="">Seleccionar Tipo Formulación</option>
                        <% if (lista_formulaciones.length > 0) { %>
                            <% for (let TipoFormulacion of lista_formulaciones) { %>
                                <option value="<%= TipoFormulacion.CodigoFormulacion %>"><%= TipoFormulacion.CodigoFormulacion %></option>
                            <% } }%>   
                    </select>
                </div>
                <% if (locals.errors && errors.CodigoFormulacion) { %>
                    <p class="text-danger small text-start "><%= errors.CodigoFormulacion.msg %></p>
                <% } %>

                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                    <div class="form-floating">
                        <input type="text" name="Lote" class="form-control" id="Lote" placeholder="Lote de Muestra" required value="<%= locals.old && old.Lote %>">
                        <label for="floatingInputGrid">Lote de Muestra</label>
                    </div>
                </div>
                <% if (locals.errors && errors.Lote) { %>
                    <p class="text-danger small text-start "><%= errors.Lote.msg %></p>
                <% } %>
                
                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                    <select class="form-select" id="UsoMuestra" name="UsoMuestra" required>
                        <option selected value="">Seleccionar Uso de Muestra</option>
                        <option value="Fungicida">Fungicida</option>
                        <option value="Insecticida">Insecticida</option>
                        <option value="Herbicida">Herbicida</option>
                        <option value="Tratamiento de Semilla">Tratamiento de Semilla</option>
                        <option value="Biológico">Biológico</option>
                        <option value="Nematicida">Nematicida</option>
                    </select>
                </div>
                <% if (locals.errors && errors.UsoMuestra) { %>
                    <p class="text-danger small text-start "><%= errors.UsoMuestra.msg %></p>
                <% } %>
                
                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9 mt-2">
                    <select class="form-select" id="idContenedor" name="idContenedor" required>
                        <option selected value="">Seleccionar Contenedor</option>
                        <% if (lista_contenedores.length > 0) { %>
                            <% for (let Contenedor of lista_contenedores) { %>
                                <% if (!Contenedor.NoContenedor) { %>
                                    <option value="<%= Contenedor.idContenedor %>"><%= Contenedor.Clasificacion %></option>
                                <% } else {%>
                                <option value="<%= Contenedor.idContenedor %>"><%= Contenedor.Clasificacion %> - Número <%= Contenedor.NoContenedor %></option>
                        <% } } }%>
                    </select>
                </div>
                <% if (locals.errors && errors.idContenedor) { %>
                    <p class="text-danger small text-start "><%= errors.idContenedor.msg %></p>
                <% } %>

                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                    <div class="form-floating small">
                        <input type="date" name="FechaFabricacion" class="form-control" id="FechaFabricacion" placeholder="Fecha de Fabricación" min="2010-01-01" max="2100-12-31" required vvalue="<%= locals.old && old.FechaFabricacion %>">
                        <label for="floatingInputGrid">Fecha de Fabricación</label>
                    </div>
                </div>
                <% if (locals.errors && errors.FechaFabricacion) { %>
                    <p class="text-danger small text-start "><%= errors.FechaFabricacion.msg %></p>
                <% } %>
                
                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                    <div class="form-floating small">
                        <input type="date" name="FechaCaducidad" class="form-control" id="FechaCaducidad" placeholder="Fecha de Caducidad" min="2010-01-01" max="2100-12-31" required value="<%= locals.old && old.Caducidad %>">
                        <label for="floatingInputGrid">Fecha de Caducidad</label>
                    </div>
                </div>
                <% if (locals.errors && errors.FechaCaducidad) { %>
                    <p class="text-danger small text-start "><%= errors.FechaCaducidad.msg %></p>
                <% } %>

                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                    <select class="form-select" name="Status" id="Status" disabled>
                        <option value="1" selected>Activa</option>
                        <option value="0">Inactiva</option>
                    </select>
                </div>
                <% if (locals.errors && errors.Status) { %>
                    <p class="text-danger small text-start "><%= errors.Status.msg %></p>
                <% } %>

                <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9 mt-2">
                    <div>
                        <label for="formFileSm" class="form-label">Hoja de Seguridad</label>
                        <input class="form-control form-control-sm" type="file" name="HojaSeguridad" id="formFile">
                    </div>
                </div>
                <% if (locals.errors && errors.HojaSeguridad) { %>
                    <p class="text-danger small text-start "><%= errors.HojaSeguridad.msg %></p>
                <% } %>
        
        </div><!--/ Row-->
        


            
