<!doctype html>
<html>
  <%- include('includes/head.ejs') %>
  
<body>

  <%- include('includes/header.ejs') %>


  <br>
  <br>
  <div class="container ">
    <div class="row">
      <div class="col-sm">
        
      </div>
        <form class="form-inline" method='POST' action='/Movimientos'>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
          <div class="input-group col-7">
            <span><input style="background-color: rgb(194, 204, 204);" class="form-control px-2 mx-3" type="search" placeholder="Buscar usuario o muestra" name="query" aria-label="Search" ></span>
            <button style="background-color: rgb(194, 204, 204); color: #000; border: none;" class="btn btn-outline-success mx-3 "  type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>
      <div class="col">
        <div class="dropdown">
          <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ordenar por
          </button>-->
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Comerciales</a>
            <a class="dropdown-item" href="#">Experimentales</a>
            <a class="dropdown-item" href="#">Otros</a>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="table-responsive">
      <% if (ConsultarMovimientos.length > 0) { %>
      <table class="table .table-borderless caption-top align-middle">
        <thead class="table" style="background-color: rgb(194, 204, 204);">
            <tr align="center">
              <th scope="col" >Nombre de usuario</th>
              <th scope="col">Fecha de uso</th>
              <th scope="col">Nombre muestra</th>
              <th scope="col">SP de muestra</th>
              <th scope="col">Cantidad retirada</th>
              <th scope="col">Cantidad sobrante</th>
            </tr>
          </thead>
          <tbody>
            <% for (let muestro of ConsultarMovimientos) { %>
              <tr align="center">
                <td><%= muestro.NombreUsuario %></td>
                <td><%= new Date(muestro.FechaDeUso).toLocaleString('Mx') %></td>  
                <% if (muestro.NombreMuestra){ %>
                  <td><%= muestro.NombreMuestra %></td>
                <% } else { %>
                  <td>-</td>
                <% } %> 
                <% if (muestro.SP){ %>
                  <td><%= muestro.SP %></td>
                <% } else { %>
                  <td>-</td>
                <% } %> 
                <td><%= muestro.Descarga.toPrecision(2) %></td>
                <td><%= muestro.Sobrante.toPrecision(2) %></td>
              </tr>
            <% } %>
          </tbody>
      </table>
      <% } else { %>
        <h3>No hay movimientos registrados</h3>
      <% } %>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  </body>
</html>