<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="js/paging.js"></script>

<body>
    <%- include('includes/header.ejs') %> 
    <br>
    <br>
    <div class="container">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
          <div class="col-md-6 col-sm-2 col-lg-3">
            <a class="btn green" href="/Usuarios/Nuevo" role="button">Agregar Usuario</a>
          </div>
        </div>
      <br>
      <br>
      <div class="table-responsive" id="tablaUsuarios">
        <% if (ConsultarUsuarios.length > 0) { %>
        <table class="table .table-borderless caption-top align-middle">
          <thead class="table" style="background-color: rgb(194, 204, 204);">
              <tr style="text-align:center;">
                <th scope="col"></th>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Rol</th>
                <th scope="col">Status</th>
              </tr>
          </thead>
          <tbody text-align:center;>
              <% for (let user of ConsultarUsuarios) { %>
                <tr>
                  <th scope="row">
                    <a class="btn green" href="/Usuarios/<%= user.idEmpleado %>" role="button">Modificar Usuario</a>
                  </th>
                  <td style="text-align:center;"><%= user.idEmpleado %></td>
                  <td style="text-align:center;"><%= user.NombreUsuario %></td>
                  <td style="text-align:center;"><%= user.CorreoElectronico %></td>
                  <td style="text-align:center;"><%= user.Rol %></td>
                  <td style="text-align:center;">
                    <% if (user.Status == 1){ %>
                      Activo
                      <% } else { %>
                        Inactivo
                        <% } %>
                </tr>
              <% } %>
          </tbody>
        </table>
        <% } else { %>
          <h3>No hay usuarios registradas</h3>
        <% } %>
      </div>
    </div>
      <style type="text/css">
        .paging-nav {
          text-align: center;
          padding-top: 2px;
        }
        
        .paging-nav a {
          margin: auto 1px;
          text-decoration: none;
          display: inline-block;
          padding: 1px 7px;
          background: #59D400;
          color: white;
          border-radius: 3px;
        }
        
        .paging-nav .selected-page {
          background: #429905;
          font-weight: bold;
        }
        
        .paging-nav,
        #tableData {
          width: 400px;
          margin: 0 auto;
          font-family: Arial, sans-serif;
        }
        </style>
      <script type="text/javascript">
        $(document).ready(function() {
                $('#tablaUsuarios').paging({limit:10});
            });
      </script>
      <br>
</body>
</html>