<!doctype html>
<html>
  <%- include('includes/head.ejs') %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="js/paging.js"></script>

<body class="Muestras"> 

  <%- include('includes/header.ejs') %>
  <br>
  <br>
  <div class="container">
      <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <% if( Permisos === "Administrador" ) { %>
        <div class="col-md-6 col-sm-2 col-lg-3">
          <a class="btn green" href="/Muestras/agregar" role="button">Agregar Muestra</a>
        </div>
        <% } else { %> 
          <div class="col-md-6 col-sm-2 col-lg-3"></div>
        <% } %> 
        <form class="form-inline" method='POST' action='/Muestras'>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <div class="input-group col-7">
          <span><input class="form-control px-2 mx-3" type="search" placeholder="Buscar por SP, Nombre o Uso" name="query" aria-label="Search" ></span>
          <button onclick="alert('Retiro exitoso')"class="btn btn-outline-success mx-3 "  type="submit"><i class="fas fa-search"></i></button>
        </div>
      </form>
      </div>


    <br>
    <br>
    <div class="table-responsive" id="tablaMuestras">
      <% if (ConsultarMuestras.length > 0) { %>
      <table class="table .table-borderless caption-top align-middle" id="muestrasTable">
        <thead class="table text-center align-middle">
            <tr align="center">
              <th scope="col" id="verMas"></th>
              <th scope="col">Nombre/Codigo de Muestra</th>
              <!-- <th scope="col">Código de Muestra</th> -->
              <th scope="col">Código SP</th>
              <th scope="col">Formulación</th>
              <th scope="col">Concentración</th>
              <th scope="col">Cantidad</th>
              <th scope="col" id="sin-color"></th>
              <th scope="col" id="StatusMuestra"></th>
            </tr>
          </thead>
          <tbody>
            <% for (let muestra of ConsultarMuestras) { %>
              <% if (muestra.Status === 1){ %>
              <tr align="center">
              <% } else { %>
              <tr align="center" style="background-color: #ffffff">
              <% } %> 
                <th scope="row">
                  <a class="btn green" href="/Muestras/<%= muestra.idMuestra %>" role="button">Ver más</a>
                </th>

                <% if (muestra.NombreMuestra === null || muestra.NombreMuestra === '' ){ %>
                <td><%= muestra.CodigoMuestra %></td>
                <% } else { %>
                <td><%= muestra.NombreMuestra %></td>
                <% } %> 

                <% if (muestra.SP === null || muestra.SP === '' ){ %>
                <td><%= muestra.SP %></td>
                <% } else { %>
                <td><%= muestra.SP %></td>
                <% } %> 
                <td><%= muestra.CodigoFormulacion %></td>
                <td><%= muestra.Concentracion %></td>
                <td><%= muestra.Cantidad %></td>
                <td>
                  <% if (muestra.Cantidad> 0 && muestra.Status == 1){ %>
                  <form method='post' action="/Movimientos/add">
                  <div class="input-group input-group-sm ">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <input type="hidden" name="idMuestra" value="<%=  muestra.idMuestra  %>" >

                    <input type="number" step="0.001" name="descarga" class="form-control" aria-label="Amount" min="0.001" max="<%= muestra.Cantidad +0.1 %>" placeholder="<%= muestra.UnidadMedida %>">
                    <div class="input-group-append">
                      <button class="btn green btn-outline-secondary" type="submit">Retirar</button>
                    </div>
                  </div>
                </form>
                  <% } %> 
                </td>
                <td> 
                  <div class="input-group input-group-sm">
                    <% if (muestra.Status === '1' ){ %>
                      <input type="text" class="form-control" name="StatusMuestra" aria-label="Amount" value="Activa" disabled>
                    <% } else { %>
                      <input style="background-color: #be3535" type="text" class="form-control" name="StatusMuestra" aria-label="Amount" value="Inactiva" disabled>
                    <% } %> 
                    <div class="input-group-append">
                      <button onclick="loadModalData('<%= muestra.idMuestra%>','<%= muestra.Status %>','<%= muestra.Reporte %>')" class="btn green btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop-StatusMuestra">Modificar Status</button>
                    </div>
                  </div>
                </td>
              </tr>
            <% } %>
          </tbody>
      </table>
      <% } else { %>
        <h3>No hay muestras registradas</h3>
      <% } %>
    </div>
    <% if( Permisos === "Administrador" ) { %>
    <a class="btn green btn-outline-secondary" href="/Muestras/ExportarPDF">Exportar a PDF</a>
    <% } %>
  </div>
    <%- include('Modals/Modal_StatusMuestra.ejs') %>
      <style type="text/css">
        .paging-nav {
          text-align: center;
          padding-top: 2px;
        }
        
        .paging-nav a {
          margin: auto 1px;
          text-decoration: none;
          display: inline-block;
          padding: 1px 7px;
          background: #59D400;
          color: white;
          border-radius: 3px;
        }
        
        .paging-nav .selected-page {
          background: #429905;
          font-weight: bold;
        }
        
        .paging-nav,
        #tableData {
          width: 400px;
          margin: 0 auto;
          font-family: Arial, sans-serif;
        }
        </style>
      <script type="text/javascript">
        function loadModalData(idMuestra,Status,Reporte){
                  $("#reporte").val(Reporte);
                  $("#idMuestra").val(idMuestra);
                  $("#status option").eq(Status).prop('selected', true);
                }
        $(document).ready(function() {
                $('#tablaMuestras').paging({limit:10});
                $('#reportar').click(()=>{
                  $.post("/Muestras/reportar/"+$("#idMuestra").val(),
                      {
                        "status":  $("#status").val(),
                        "reporte": $("#reporte").val(),
                        "_csrf": $("#_csrf_modal").val(),
                      },
                      function(data, status){
                        alert("Reporte exitoso");
                        window.location.reload()
                      },
                  );
                })
            });
      </script>
      <br>
  </body>
</html>