<!doctype html>
<html>
  <%- include('includes/head.ejs') %>
  
<body class="Muestras">

  <%- include('includes/header.ejs') %>
  <br>
  <br>
  <div class="container-fluid">
    <div class="row">
        <!-- <div class="col-1"></div>
        <div class="col-4">
            <a class="btn green" href="/AlertasRoles/agregarAlerta" role="button">Crear Alerta</a>
        </div> -->
        <p style="text-align: center; font-size: 1.5em;"><strong>Alertas</strong></p>
        <!-- <div class="col-4">
            <p style="text-align: center; font-size: 1.5em;"><strong>Alertas</strong></p>
        </div> -->
        <!-- <div class="col-5"></div> -->
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="table-responsive">
                <% if (ConsultarAlertas.length > 0) { %>
                <table class="table .table-borderless caption-top align-middle">
                <thead class="table">
                    <tr style="text-align: center;">
                        <th scope="col"></th>
                        <th scope="col">Nombre Alerta</th>
                        <th scope="col">Condición* (Días)</th>
                        <th scope="col">Color</th>
                        <% if( Permisos === "Administrador" ) { %>
                        <th scope="col"></th>
                        <% } %>  
                    </tr>
                    </thead>
                    <tbody>
                        <% for (let alerta of ConsultarAlertas) { %>
                        <tr style="text-align: center;">
                            <th scope="row">
                                <p><%= alerta.idAlerta %></p>
                            </th>
                            <td><%= alerta.NombreAlerta %></td>
                            <td><%= alerta.Condicion %></td>
                            <td>
                                <% if ( alerta.Color === "Rojo"){ %>
                                <input type="color" value="#890000" readonly disabled>
                                <% } %>  
                                <% if ( alerta.Color === "Naranja"){ %>
                                <input type="color" value="#ff5733" readonly disabled>
                                <% } %>  
                                <% if ( alerta.Color === "Amarillo"){ %>
                                <input type="color" value="#FFC300" readonly disabled>
                                <% } %>  
                                <% if ( alerta.Color === "Azul"){ %>
                                <input type="color" value="#26929F" readonly disabled>
                                <% } %> 
                                <% if ( alerta.Color === "Verde"){ %>
                                <input type="color" value="#00b347" readonly disabled>
                                <% } %> 
                            </td>
                            <% if( Permisos === "Administrador" ) { %>
                            <td>
                                <a class="btn green btn green btn-outline-secondary" href="/AlertasRoles/editar/<%= alerta.idAlerta %>" role="button">Modificar</a>
                            </td>
                            <% } %> 
                        </tr>
                        <% } %> 
                    </tbody>
                </table>
                <% } else { %>
                    <h3>No hay Alertas registradas</h3>
                <% } %>
                <p style="font-size: 0.7em;">*Días previos a la fecha de caducidad</p>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <!--Roles de usuario-->
    <div class="row">
        <div class="col-12">
            <br><br>
            <p style="text-align: center; font-size: 1.5em;"><strong>Roles de Usuario</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="table-responsive">
                <table class="table .table-borderless caption-top align-middle">
                <thead class="table">
                    <tr style="text-align: center;">
                        <th scope="col"></th>
                        <th scope="col">Nombre del rol</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Aplicar forEach o algo similar para mostrar todas las muestras registradas en la base de datos -->
                    <tr style="text-align: center;"><!-- Inicia Una Muestra -->
                        <th scope="row">
                            <p>1</p>
                        </th>
                        <td>Administrador</td>
                    </tr><!-- Termina Una Muestra -->
                    <tr style="text-align: center;">
                        <th scope="row">
                            <p>2</p>
                        </th>
                        <td>Usuario</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
  </div>
  

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  </body>
</html>


