<!doctype html>
<html>
  <%- include('includes/head.ejs') %>
  
<body class="Muestras">

  <%- include('includes/header.ejs') %>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col">
        <a class="btn green" href="/Muestras/agregar" role="button">Agregar Muestra</a>
      </div>
      <div class="col-9">
        <form class="form-inline" method='POST' action='/Muestras'>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
          <div class="input-group">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Buscar por Tipo de Muestra
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Comerciales</a>
              <a class="dropdown-item" href="#">Experimentales</a>
              <a class="dropdown-item" href="#">Otros</a>
            </div>
            <span><input class="form-control" type="search" placeholder="Search" name="query" aria-label="Search"></span>
            <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>
      </div>
    </div>
    <br>
    <br>
    <div class="table-responsive">
      <% if (ConsultarMuestras.length > 0) { %>
      <table class="table .table-borderless caption-top align-middle">
        <thead class="table">
            <tr align="center">
              <th scope="col" id="verMas"></th>
              <th scope="col">Nombre</th>
              <th scope="col">Concentración</th>
              <th scope="col">Formulación</th>
              <th scope="col">SP</th>
              <th scope="col" id="sin-color"></th>
              <th scope="col" id="StatusMuestra"></th>
            </tr>
          </thead>
          <tbody>
            <% for (let muestra of ConsultarMuestras) { %>
              <% if (muestra.Status === 1){ %>
              <tr align="center">
              <% } else { %>
              <tr align="center" style="background-color: #f7efef">
              <% } %> 
                <th scope="row">
                  <a class="btn green" href="/Muestras/<%= muestra.idMuestra %>" role="button">Ver más</a>
                </th>
                <td><%= muestra.NombreMuestra %></td>
                <td><%= muestra.Concentracion %></td>
                <td><%= muestra.CodigoFormulacion %></td>
                <td><%= muestra.SP %></td>
                <td>
                  <form method='post' action="/Movimientos">
                  <div class="input-group input-group-sm ">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                    <input type="hidden" name="idMuestra" value="<%=  muestra.idMuestra  %>" >

                    <input type="number" name="descarga" class="form-control" aria-label="Amount" min="0" max="<%= muestra.Cantidad %>">
                    <div class="input-group-append">
                      <button class="btn green btn-outline-secondary" type="submit">Retirar</button>
                    </div>
                  </div>
                </form>
                </td>
                <td>
                  <div class="input-group input-group-sm">
                    <% if (muestra.Status === 1){ %>
                      <input type="text" class="form-control" name="StatusMuestra" aria-label="Amount" value="Activa" disabled>
                    <% } else { %>
                      <input style="background-color: #be3535" type="text" class="form-control" name="StatusMuestra" aria-label="Amount" value="Inactiva" disabled>
                    <% } %> 
                    <div class="input-group-append">
                      <button class="btn green btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop-StatusMuestra">Modificar Status</button>
                    </div>
                  </div>
                </td>
              </tr>
            <% } %>
          </tbody>
      </table>
      <% } else { %>
        <h3>No hay muestras registrados</h3>
      <% } %>
    </div>
  </div>
    <%- include('Modals/Modal_StatusMuestra.ejs') %>
  </body>
</html>