<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
    
<body>
    <%- include('includes/header.ejs') %>
    <br>
    <br>
    <div class="container-fluid text-center">
        <% if (Muestra.NombreMuestra){ %>
        <h4><%= Titulo %> <%= Muestra.NombreMuestra %></h4>
        <% } else { %>
            <h4><%= Titulo %> <%= Muestra.SP %></h4>
        <% } %>
        <br />
        
        <div class="d-flex justify-content-center h-100">
            <!-- Main Content -->
            <div class="offset-lg-2 offset-md-2 col-xs-12 col-lg-9 col-sm-12 col-md-10">
                <form action="/Muestras/editar/<%= Muestra.idMuestra %>" method="POST" class="EditarMuestraForm"  enctype="multipart/form-data" onsubmit="mensaje()">
                    
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                        <div class="row">

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <% if ( Muestra.CodigoMuestra ) { %>
                                <p class="text-muted small text-start fst-italic pt-2">Código actual de la muestra: <%= Muestra.CodigoMuestra %></p>
                                <% } %>
                                
                                <div class="form-floating">
                                    <input type="text" name="CodigoMuestra" class="form-control" id="CodigoMuestra" placeholder="Código de Muestra" value="<%= Muestra.CodigoMuestra %>">
                                    <label for="floatingInputGrid">Código de Muestra</label>
                                </div>
                                <!-- Mensajes de Verificación -->
                                <p id="errorCodigoMuestra" class="alert alert-danger small ocultar" role="alert"></p>
                                <p id="alertaCodigoMuestra" class="alert alert-warning small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.CodigoMuestra) { %>
                                <p class="text-warning small text-start"><%= errors.CodigoMuestra.msg %></p>
                            <% } %>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <% if ( Muestra.SP ) { %>
                                    <p class="text-muted small text-start fst-italic pt-2">SP actual de la muestra : <%= Muestra.SP %></p>
                                    <% } %>
                                <div class="form-floating">
                                    <input type="number" name="SP" class="form-control" id="SP" placeholder="SP de Muestra" value="<%= Muestra.SP %>">
                                    <label for="floatingInputGrid">SP de Muestra</label>
                                </div>
                                <!-- Mensajes de Verificación -->
                                <p id="errorSP" class="alert alert-danger small ocultar" role="alert"></p>
                                <p id="alertaSP" class="alert alert-warning small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.SP) { %>
                                <p class="text-warning small text-start"><%= errors.SP.msg %></p>
                            <% } %>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <% if ( Muestra.NombreMuestra ) { %>
                                <p class="text-muted small text-start fst-italic pt-2">Nombre actual de la muestra : <%= Muestra.NombreMuestra %></p>
                                <% } %>
                                <div class="form-floating">
                                    <input type="text" name="NombreMuestra" class="form-control" id="NombreMuestra" placeholder="Nombre de Muestra" value="<%= Muestra.NombreMuestra %>">
                                    <label for="floatingInputGrid">Nombre de Muestra</label>
                                </div>
                                <!-- Mensajes de Verificación -->
                                <p id="errorNombreMuestra" class="alert alert-danger small ocultar" role="alert"></p>
                                <p id="alertaNombreMuestra" class="alert alert-warning small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.NombreMuestra) { %>
                                <p class="text-warning small text-start "><%= errors.NombreMuestra.msg %></p>
                            <% } %>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <p class="text-muted small text-start fst-italic pt-2">Unidad de medida actual de la muestra : <%= Muestra.UnidadMedida %></p>
                                <select class="form-select" name="UnidadMedida" id="UnidadMedida" required>
                                    <option selected disabled value="">Unidad de medida</option>
                                    <option value="Litros">Litros</option>
                                    <option value="Kilogramos">Kilogramos</option>
                                </select>
                                <!-- Mensajes de Verificación -->
                                <p id="errorUnidadMedida" class="alert alert-danger small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.UnidadMedida) { %>
                                <p class="text-danger small text-start "><%= errors.UnidadMedida.msg %></p>
                            <% } %>
                            
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <p class="text-muted small text-start fst-italic pt-2">Cantidad actual de la muestra : <%= Muestra.Cantidad  %></p>
                                <div class="form-floating small">
                                    <input type="number" name="Cantidad" class="form-control" id="Cantidad" placeholder="Cantidad"  step="any" value="<%= Muestra.Cantidad %>" minlength="0">
                                    <label for="floatingInputGrid">Cantidad</label>
                                </div>
                                <!-- Mensajes de Verificación -->
                                <p id="errorCantidad" class="alert alert-danger small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.Cantidad) { %>
                                <p class="text-danger small text-start "><%= errors.Cantidad.msg %></p>
                            <% } %>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <p class="text-muted small text-start fst-italic pt-2">Concentración actual de la muestra : <%= Muestra.Concentracion %></p>
                                <div class="form-floating small">
                                    <input type="number" name="Concentracion" class="form-control" id="Concentracion" placeholder="Concentracion (%)"   step="any" value="<%= Muestra.Concentracion %>" minlength="0" maxlength="100">
                                    <label for="floatingInputGrid">Concentracion (%)</label>
                                </div>
                                <!-- Mensajes de Verificación -->
                                <p id="errorConcentracion" class="alert alert-danger small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.Concentracion) { %>
                                <p class="text-danger small text-start "><%= errors.Concentracion.msg %></p>
                            <% } %>
                            
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <p class="text-muted small text-start fst-italic pt-2">Tipo actual de la muestra : <%= Muestra.Tipo %></p>
                                <select class="form-select" name="idTipoDeMuestra" id="idTipoDeMuestra">
                                    <% if ( Muestra.Tipo === "Comercial"){ %>
                                        <option value="1" selected>Comercial</option>
                                        <option value="2">Experimental</option>
                                        <option value="3">Estándar Comercial</option>
                                    <% } else if ( Muestra.Tipo === "Experimental"){ %>
                                        <option value="1" >Comercial</option>
                                        <option value="2" selected>Experimental</option>
                                        <option value="3">Estándar Comercial</option>
                                    <% } else { %>
                                        <option value="1" >Comercial</option>
                                        <option value="2">Experimental</option>
                                        <option value="3" selected>Estándar Comercial</option>
                                    <% } %>
                                    
                                </select>
                                <!-- Mensajes de Verificación -->
                                <p id="erroridTipoDeMuestra" class="alert alert-danger small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.idTipoDeMuestra) { %>
                                <p class="text-danger small text-start "><%= errors.idTipoDeMuestra.msg %></p>
                            <% } %>
                
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9 mt-2">
                                <p class="text-muted small text-start fst-italic pt-2">Código de formulación actual de la muestra : <%= Muestra.CodigoFormulacion %></p>
                                <select class="form-select" id="CodigoFormulacion" name="CodigoFormulacion" required >
                                    <option selected disabled value="">Seleccionar Codigo de Formulación</option>
                                    <% if (lista_formulaciones.length > 0) { %>
                                        <% for (let TipoFormulacion of lista_formulaciones) { %>
                                            <option value="<%= TipoFormulacion.CodigoFormulacion %>"><%= TipoFormulacion.CodigoFormulacion %></option>
                                        <% } }%>   
                                </select>
                                <!-- Mensajes de Verificación -->
                                <p id="errorCodigoFormulacion" class="alert alert-danger small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.CodigoFormulacion) { %>
                                <p class="text-danger small text-start "><%= errors.CodigoFormulacion.msg %></p>
                            <% } %>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <p class="text-muted small text-start fst-italic pt-2">Lote actual de la muestra : <%= Muestra.Lote %></p>
                                <div class="form-floating">
                                    <input type="text" name="Lote" class="form-control" id="Lote" placeholder="Lote de Muestra" value="<%= Muestra.Lote %>">
                                    <label for="floatingInputGrid">Lote de Muestra</label>
                                </div>
                                <!-- Mensajes de Verificación -->
                                <p id="errorLote" class="alert alert-danger small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.Lote) { %>
                                <p class="text-danger small text-start "><%= errors.Lote.msg %></p>
                            <% } %>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9 mt-2">
                                <p class="text-muted small text-start fst-italic pt-2">Uso actual de la muestra : <%= Muestra.UsoMuestra %></p>
                                <select class="form-select" id="UsoMuestra" name="UsoMuestra">
                                    <% if ( Muestra.UsoMuestra === "Fungicida"){ %>
                                    <option value="Fungicida" selected>Fungicida</option>
                                    <option value="Insecticida">Insecticida</option>
                                    <option value="Herbicida">Herbicida</option>
                                    <option value="Tratamiento de Semilla">Tratamiento de Semilla</option>
                                    <option value="Biológico">Biológico</option>
                                    <option value="Nematicida">Nematicida</option>
                                    <% } %>  
                                    <% if ( Muestra.UsoMuestra === "Insecticida"){ %>
                                    <option value="Fungicida" >Fungicida</option>
                                    <option value="Insecticida" selected>Insecticida</option>
                                    <option value="Herbicida">Herbicida</option>
                                    <option value="Tratamiento de Semilla">Tratamiento de Semilla</option>
                                    <option value="Biológico">Biológico</option>
                                    <option value="Nematicida">Nematicida</option>
                                    <% } %>  
                                    <% if ( Muestra.UsoMuestra === "Herbicida"){ %>
                                    <option value="Fungicida" >Fungicida</option>
                                    <option value="Insecticida">Insecticida</option>
                                    <option value="Herbicida" selected>Herbicida</option>
                                    <option value="Tratamiento de Semilla">Tratamiento de Semilla</option>
                                    <option value="Biológico">Biológico</option>
                                    <option value="Nematicida">Nematicida</option>
                                    <% } %>  
                                    <% if ( Muestra.UsoMuestra === "Tratamiento de Semilla"){ %>
                                    <option value="Fungicida" >Fungicida</option>
                                    <option value="Insecticida">Insecticida</option>
                                    <option value="Herbicida">Herbicida</option>
                                    <option value="Tratamiento de Semilla" selected>Tratamiento de Semilla</option>
                                    <option value="Biológico">Biológico</option>
                                    <option value="Nematicida">Nematicida</option>
                                    <% } %>  
                                    <% if ( Muestra.UsoMuestra === "Biológico"){ %>
                                    <option value="Fungicida" >Fungicida</option>
                                    <option value="Insecticida">Insecticida</option>
                                    <option value="Herbicida">Herbicida</option>
                                    <option value="Tratamiento de Semilla">Tratamiento de Semilla</option>
                                    <option value="Biológico" selected>Biológico</option>
                                    <option value="Nematicida">Nematicida</option>
                                    <% } %>  
                                    <% if ( Muestra.UsoMuestra === "Nematicida"){ %>
                                    <option value="Fungicida" >Fungicida</option>
                                    <option value="Insecticida">Insecticida</option>
                                    <option value="Herbicida">Herbicida</option>
                                    <option value="Tratamiento de Semilla">Tratamiento de Semilla</option>
                                    <option value="Biológico" >Biológico</option>
                                    <option value="Nematicida" selected>Nematicida</option>
                                    <% } %>  
                                </select>
                                <!-- Mensajes de Verificación -->
                                <p id="errorUsoMuestra" class="alert alert-danger small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.UsoMuestra) { %>
                                <p class="text-danger small text-start "><%= errors.UsoMuestra.msg %></p>
                            <% } %>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9 mt-2">
                                <% if (!Muestra.NoContenedor) { %>
                                <p class="text-muted small text-start fst-italic pt-2">Contenedor actual de la muestra : <%= Muestra.Clasificacion %></p>
                                <% } else {%>
                                <p class="text-muted small text-start fst-italic pt-2">Contenedor actual de la muestra : <%= Muestra.Clasificacion %> - <%= Muestra.NoContenedor %></p>
                                <% } %>
                                <select class="form-select" id="idContenedor" name="idContenedor" required>
                                    <option value="" disabled selected>Seleccionar Contenedor</option>
                                    <% if (lista_contenedores.length > 0) { %>
                                        <% for (let Contenedor of lista_contenedores) { %>
                                            <% if (!Contenedor.NoContenedor) { %>
                                                <option value="<%= Contenedor.idContenedor %>"><%= Contenedor.Clasificacion %></option>
                                            <% } else {%>
                                            <option value="<%= Contenedor.idContenedor %>"><%= Contenedor.Clasificacion %> - Número <%= Contenedor.NoContenedor %></option>
                                    <% } } }%>
                                </select>
                                <!-- Mensajes de Verificación -->
                                <p id="erroridContenedor" class="alert alert-danger small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.idContenedor) { %>
                                <p class="text-danger small text-start "><%= errors.idContenedor.msg %></p>
                            <% } %>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <p class="text-muted small text-start fst-italic pt-2">Fecha de Fabricación actual de la muestra : <%= new Date(Muestra.FechaFabricacion).toLocaleDateString("es-Mx") %></p>
                                <div class="form-floating small">
                                    <input type="date" name="FechaFabricacion" class="form-control" id="FechaFabricacion" placeholder="Fecha de Fabricación" value="<%= Muestra.FechaFabricacion %>" required>
                                    <label for="floatingInputGrid">Fecha de Fabricación</label>
                                </div>
                                <!-- Mensajes de Verificación -->
                                <p id="errorFechaFabricacion" class="alert alert-danger small ocultar" role="alert">
                                <p id="alertaFechaFabricacion" class="alert alert-warning small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.FechaFabricacion) { %>
                                <p class="text-danger small text-start "><%= errors.FechaFabricacion.msg %></p>
                            <% } %>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <p class="text-muted small text-start fst-italic pt-2">Fecha de Caducidad actual de la muestra : <%= new Date(Muestra.FechaCaducidad).toLocaleDateString("es-Mx") %></p>
                                <div class="form-floating small">
                                    <input type="date" name="FechaCaducidad" class="form-control" id="FechaCaducidad" placeholder="Fecha de Caducidad" value="<%= Muestra.FechaCaducidad %>" required>
                                    <label for="floatingInputGrid">Fecha de Caducidad</label>
                                </div>
                                <!-- Mensajes de Verificación -->
                                <p id="errorFechaCaducidad" class="alert alert-danger small ocultar" role="alert">
                                <p id="alertaFechaCaducidad" class="alert alert-warning small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.FechaCaducidad) { %>
                                <p class="text-danger small text-start "><%= errors.FechaCaducidad.msg %></p>
                            <% } %>
                            
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <% if ( Muestra.Status === '1' || Muestra.Status === "Activa" ) { %>
                                <p class="text-muted small text-start fst-italic pt-2">Status actual de la muestra : Activa</p>
                                <% } else {%>
                                <p class="text-muted small text-start fst-italic pt-2">Status actual de la muestra : Inactiva</p>
                                <% } %>
                                <select class="form-select" name="Status" id="Status">
                                    <% if ( Muestra.Status === '1' || Muestra.Status === "Activa" ) { %>
                                    <option value="1" selected>Status de muestra : Activa</option>
                                    <option value="0">Status de muestra : Inactiva</option>
                                    <% } else {%>
                                    <option value="1">Status de muestra : Activa</option>
                                    <option value="0" selected>Status de muestra : Inactiva</option>
                                    <% } %>
                                </select>
                                <!-- Mensajes de Verificación -->
                                <p id="errorStatus" class="alert alert-danger small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.Status) { %>
                                <p class="text-danger small text-start "><%= errors.Status.msg %></p>
                            <% } %>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9 mt-2">
                                <div>
                                    <label for="formFileSm" class="form-label">Hoja de Seguridad</label>
                                    <input class="form-control form-control-sm" type="file" name="HojaSeguridad" id="HojaSeguridad"  accept="application/pdf, application/PDF, .pdf, .PDF">
                                </div>
                                <!-- Mensajes de Verificación -->
                                <p id="errorHojaSeguridad" class="alert alert-danger small ocultar" role="alert"></p>
                                <!-- Fin Mensajes de Verificación -->
                            </div>
                            <% if (locals.errors && errors.HojaSeguridad) { %>
                                <p class="text-danger small text-start "><%= errors.HojaSeguridad.msg %></p>
                            <% } %>
                    </div><!--/ Row-->
                    <div class="col-xs-12 col-lg-9 col-sm-12 col-md-9">
                        <hr>
                        <br>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-auto"></div>
                            <div class="btn-group me-auto" role="group" aria-label="First group">
                                <button type="button" class="btn green" data-bs-toggle="modal" data-bs-target="#staticBackdrop-Contenedor" onclick="ModalContenedor()">Agregar Nuevo Contenedor</button>
                            </div>
                            <div class="btn-group me-auto" role="group" aria-label="Second group">
                                <button type="button" class="btn green" data-bs-toggle="modal" data-bs-target="#staticBackdrop-Formulacion">Agregar Nuevo Tipo de Formulación</button>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-auto"></div>
                            <div class="btn-group me-auto" role="group" aria-label="First group">
                                <button type="submit" class="boton" id="Registrar-Actualizar">Actualizar Infromación</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </form>
            </div> <!-- /Main Content -->
        </div>
    </div>
    <%- include('Modals/Modal_Contenedor.ejs') %>
    <%- include('Modals/Modal_TipoDeFormulacion.ejs') %>
    <script src="/js/ValidacionEditarMuestra.js"></script>
    <script src="/js/validacionAgregarContenedor.js"></script>
    <script type="text/javascript">
        function ModalContenedor(NoContenedor,Clasificacion){
                $("#NoContenedor").val(Clasificacion);
                $("#Clasificacion").val(Clasificacion);
        }
        $(document).ready(function() {
                $('#Registrar').click(()=>{
                    $.post("/Muestras/agregarContenedor",
                        {
                            "NoContenedor":  $("#NoContenedor").val(),
                            "Clasificacion": $("#Clasificacion").val(),
                            "_csrf": $("#_csrf_modal").val(),
                        },
                        function(data, status){
                        alert("Registro de contenedor exitoso");
                        window.location.reload()
                        },
                    );
                })
        });
      </script>
      <script language="JavaScript">
        function mensaje() {
            alert("Actualización de muestra exitoso!")
        }
    </script>
    <script type="text/javascript">
        function ModalFormulacion(Codigo,Formulacion,DescripcionFormulacion ){
                $("#Codigo").val(Codigo);
                $("#Formulacion").val(Formulacion);
                $("#DescripcionFormulacion").val(DescripcionFormulacion);
        }
        $(document).ready(function() {
                $('#RegistrarFormulacion').click(()=>{
                    $.post("/Muestras/agregarFormulacion",
                        {
                            "Codigo":  $("#Codigo").val(),
                            "Formulacion": $("#Formulacion").val(),
                            "DescripcionFormulacion": $("#DescripcionFormulacion").val(),
                            "_csrf": $("#_csrf_modal").val(),
                        },
                        function(data, status){
                            alert("Registro de formulación exitoso");
                            window.location.reload()
                        },
                    );
                })
        });
      </script>
</body>
</html>