<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
    
<body>
    <%- include('includes/header.ejs') %>

    <br>
    <br>
    <div class="container-fluid text-center">
        <% if (Muestra.NombreMuestra){ %>
        <h4><%= Titulo %> <%= Muestra.NombreMuestra %></h4>
        <% } else { %>
            <h4><%= Titulo %> <%= Muestra.SP %></h4>
        <% } %>
        <br />
        
        <div class="d-flex justify-content-center h-100">
            <!-- Main Content -->
            <div class="offset-lg-2 offset-md-2 col-xs-12 col-lg-9 col-sm-12 col-md-10">
                <form action="/Muestras/editar/<%= Muestra.idMuestra %>" method="POST" class="EditarMuestraForm">
                    
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                        <div class="row">
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <div class="form-floating">
                                    <input type="text" name="CodigoMuestra" class="form-control" id="CodigoMuestra" placeholder="Código de Muestra" value="<%= Muestra.CodigoMuestra %>">
                                    <label for="floatingInputGrid">Código de Muestra</label>
                                </div>
                            </div>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <div class="form-floating">
                                    <input type="number" name="SP" class="form-control" id="SP" placeholder="SP de Muestra" value="<%= Muestra.SP %>">
                                    <label for="floatingInputGrid">SP de Muestra</label>
                                </div>
                            </div>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <div class="form-floating">
                                    <input type="text" name="NombreMuestra" class="form-control" id="NombreMuestra" placeholder="Nombre de Muestra" value="<%= Muestra.NombreMuestra %>">
                                    <label for="floatingInputGrid">Nombre de Muestra</label>
                                </div>
                            </div>
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <select class="form-select" name="UnidadMedida" id="UnidadMedida" required>
                                    <option selected disabled value="">Unidad de medida</option>
                                    <option value="Litros">Litros</option>
                                    <option value="Kilogramos">Kilogramos</option>
                                </select>
                            </div>
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <div class="form-floating small">
                                    <input type="number" name="Cantidad" class="form-control" id="Cantidad" placeholder="Cantidad"  step="any" value="<%= Muestra.Cantidad %>" minlength="0">
                                    <label for="floatingInputGrid">Cantidad</label>
                                </div>
                            </div>
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <div class="form-floating small">
                                    <input type="number" name="Concentracion" class="form-control" id="Concentracion" placeholder="Concentracion (%)"   step="any" value="<%= Muestra.Concentracion %>" minlength="0" maxlength="100">
                                    <label for="floatingInputGrid">Concentracion (%)</label>
                                </div>
                            </div>
                            
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <select class="form-select" name="idTipoDeMuestra" id="idTipoDeMuestra">
                                    <% if ( Muestra.Tipo === "Comercial"){ %>
                                        <option value="1" selected>Comercial</option>
                                        <option value="2">Experimental</option>
                                        <option value="3">Estándar Comercial</option>
                                    <% } else if ( Muestra.Tipo === "Experimental"){ %>
                                        <option value="1" >Comercial</option>
                                        <option value="2" selected>Experimental</option>
                                        <option value="3">Estándar Comercial</option>
                                    <% } else { %>
                                        <option value="1" >Comercial</option>
                                        <option value="2">Experimental</option>
                                        <option value="3" selected>Estándar Comercial</option>
                                    <% } %>
                                    
                                </select>
                            </div>
                            <br>
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9 mt-2">
                                <select class="form-select" id="CodigoFormulacion" name="CodigoFormulacion" required >
                                    <!-- CAMBIAR VALUE PREDETERMINADO, AGREGAR VALIDACIÓN -->
                                    <option selected disabled value="">Seleccionar Codigo de Formulación</option>
                                    <% if (lista_formulaciones.length > 0) { %>
                                        <% for (let TipoFormulacion of lista_formulaciones) { %>
                                            <option value="<%= TipoFormulacion.CodigoFormulacion %>"><%= TipoFormulacion.CodigoFormulacion %></option>
                                        <% } }%>   
                                </select>
                                <!-- <span class="error" aria-live="polite"></span> -->
                            </div>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <div class="form-floating">
                                    <input type="text" name="Lote" class="form-control" id="Lote" placeholder="Lote de Muestra" value="<%= Muestra.Lote %>">
                                    <label for="floatingInputGrid">Lote de Muestra</label>
                                </div>
                            </div>
                            
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9 mt-2">
                                <select class="form-select" id="UsoMuestra" name="UsoMuestra">
                                    <% if ( Muestra.UsoMuestra === "Fungicida"){ %>
                                    <option value="Fungicida" selected>Fungicida</option>
                                    <option value="Insecticida">Insecticida</option>
                                    <option value="Herbicida">Herbicida</option>
                                    <option value="Tratamiento de Semilla">Tratamiento de Semilla</option>
                                    <option value="Biológico">Biológico</option>
                                    <option value="Nematicida">Nematicida</option>
                                    <% } %>  
                                    <% if ( Muestra.UsoMuestra === "Insecticida"){ %>
                                    <option value="Fungicida" >Fungicida</option>
                                    <option value="Insecticida" selected>Insecticida</option>
                                    <option value="Herbicida">Herbicida</option>
                                    <option value="Tratamiento de Semilla">Tratamiento de Semilla</option>
                                    <option value="Biológico">Biológico</option>
                                    <option value="Nematicida">Nematicida</option>
                                    <% } %>  
                                    <% if ( Muestra.UsoMuestra === "Herbicida"){ %>
                                    <option value="Fungicida" >Fungicida</option>
                                    <option value="Insecticida">Insecticida</option>
                                    <option value="Herbicida" selected>Herbicida</option>
                                    <option value="Tratamiento de Semilla">Tratamiento de Semilla</option>
                                    <option value="Biológico">Biológico</option>
                                    <option value="Nematicida">Nematicida</option>
                                    <% } %>  
                                    <% if ( Muestra.UsoMuestra === "Tratamiento de Semilla"){ %>
                                    <option value="Fungicida" >Fungicida</option>
                                    <option value="Insecticida">Insecticida</option>
                                    <option value="Herbicida">Herbicida</option>
                                    <option value="Tratamiento de Semilla" selected>Tratamiento de Semilla</option>
                                    <option value="Biológico">Biológico</option>
                                    <option value="Nematicida">Nematicida</option>
                                    <% } %>  
                                    <% if ( Muestra.UsoMuestra === "Biológico"){ %>
                                    <option value="Fungicida" >Fungicida</option>
                                    <option value="Insecticida">Insecticida</option>
                                    <option value="Herbicida">Herbicida</option>
                                    <option value="Tratamiento de Semilla">Tratamiento de Semilla</option>
                                    <option value="Biológico" selected>Biológico</option>
                                    <option value="Nematicida">Nematicida</option>
                                    <% } %>  
                                    <% if ( Muestra.UsoMuestra === "Nematicida"){ %>
                                    <option value="Fungicida" >Fungicida</option>
                                    <option value="Insecticida">Insecticida</option>
                                    <option value="Herbicida">Herbicida</option>
                                    <option value="Tratamiento de Semilla">Tratamiento de Semilla</option>
                                    <option value="Biológico" >Biológico</option>
                                    <option value="Nematicida" selected>Nematicida</option>
                                    <% } %>  
                                </select>
                            </div>
                            
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9 mt-2">
                                <select class="form-select" id="idContenedor" name="idContenedor" required>
                                    <!-- CAMBIAR VALUE PREDETERMINADO, AGREGAR VALIDACIÓN -->
                                    <option value="" disabled selected>Seleccionar Contenedor</option>
                                    <% if (lista_contenedores.length > 0) { %>
                                        <% for (let Contenedor of lista_contenedores) { %>
                                            <% if (!Contenedor.NoContenedor) { %>
                                                <option value="<%= Contenedor.idContenedor %>"><%= Contenedor.Clasificacion %></option>
                                            <% } else {%>
                                            <option value="<%= Contenedor.idContenedor %>"><%= Contenedor.Clasificacion %> - Número <%= Contenedor.NoContenedor %></option>
                                    <% } } }%>
                                </select>
                            </div>
                            
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <div class="form-floating small">
                                    <input type="date" name="FechaFabricacion" class="form-control" id="FechaFabricacion" placeholder="Fecha de Fabricación" value="<%= Muestra.FechaFabricacion %>">
                                    <label for="floatingInputGrid">Fecha de Fabricación</label>
                                </div>
                            </div>
                            
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <div class="form-floating small">
                                    <input type="date" name="FechaCaducidad" class="form-control" id="FechaCaducidad" placeholder="Fecha de Caducidad" value="<%= Muestra.FechaCaducidad %>">
                                    <label for="floatingInputGrid">Fecha de Caducidad</label>
                                </div>
                            </div>
                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                                <select class="form-select" name="Status" id="Status">
                                    <% if ( Muestra.Status === 1 || Muestra.Status === "Activa" ) { %>
                                    <option value="1" selected>Status de muestra : Activa</option>
                                    <option value="0">Status de muestra : Inactiva</option>
                                    <% } else {%>
                                    <option value="1">Status de muestra : Activa</option>
                                    <option value="0" selected>Status de muestra : Inactiva</option>
                                    <% } %>
                                </select>
                            </div>

                            <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9 mt-2">
                                <div>
                                    <label for="formFileSm" class="form-label">Hoja de Seguridad</label>
                                    <input class="form-control form-control-sm" type="file" name="HojaSeguridad" id="formFile">
                                </div>
                            </div>
                    </div><!--/ Row-->

                    <div class="col-xs-12 col-lg-9 col-sm-12 col-md-9">
                        <hr>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-auto"></div>
                            <div class="btn-group me-auto" role="group" aria-label="First group">
                                <button type="submit" class="boton" id="Registrar-Actualizar">Actualizar Infromación</button>
                            </div>
                        </div>
                        <br>
                    </div>
                </form>
            </div> <!-- /Main Content -->
        </div>
    </div>
    <%- include('Modals/Modal_Contenedor.ejs') %>
    <%- include('Modals/Modal_TipoDeFormulacion.ejs') %>
    <script src="/js/ValidacionEditarMuestra.js"></script>
</body>
</html>