<!doctype html>
<html>
    <%- include('includes/head.ejs') %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <body class="Muestras"> 
    <%- include('includes/header.ejs') %>

    <div class="container" id="tablaMuestrasPDF">
        <br>
        <div  class="" style="text-align: center;">
            <h2 style="text-align: center;">Lista de muestras</h2 >
            <p>Fecha: <%- new Date().toLocaleDateString('es-MX') %></p>
        <br>

        <div class="table-responsive"  style="font-size: 13px;">
            <% if (ConsultarMuestras.length > 0) { %>
            <table class="table .table-borderless caption-top align-middle" id="muestrasTable">
                <thead class="table text-center align-middle">
                        <tr align="center">
                            <th scope="col">Nombre/Codigo de Muestra</th>
                            <th scope="col">Código SP</th>
                            <th scope="col">Formulación</th>
                            <th scope="col">Concentración</th>
                            <th scope="col">Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    <pagebreak/>
                    <% for (let muestra of ConsultarMuestras) { %>
                        <% if (muestra.Status === 1){ %>
                            <tr align="center">
                            <% } else { %>
                            <tr align="center" style="background-color: #ffffff">
                            <% } %> 

                            <% if (muestra.NombreMuestra === null || muestra.NombreMuestra === '' ){ %>
                            <td><%= muestra.CodigoMuestra %></td>
                            <% } else { %>
                            <td><%= muestra.NombreMuestra %></td>
                            <% } %> 

                            <% if (muestra.SP === null || muestra.SP === '' ){ %>
                            <td><%= muestra.SP %></td>
                            <% } else { %>
                            <td><%= muestra.SP %></td>
                            <% } %> 
                            <td><%= muestra.CodigoFormulacion %></td>
                            <td><%= muestra.Concentracion.toPrecision(3) %></td>
                            <td><%= muestra.Cantidad.toPrecision(3) %> <%= muestra.UnidadMedida %></td>
                            
                            </tr>
                        <% } %>
                </tbody>
            </table>
            <% } %>
            </div>
    </div>

    </div>
        <script >

        var pdf = new jsPDF('l', 'px', 'letter');
        let nombrePDF=  new Date().toLocaleDateString('es-MX') + ' ' +'Muestras.pdf';
        pdf.text("Lista de muestras", 250,20);
        pdf.text('Fecha: '+new Date().toLocaleDateString('es-MX')+' -  Hora: '+ new Date().getHours()+' : '+new Date().getMinutes()+' : '+new Date().getSeconds(), 200,35);


        
        specialElementHandlers = {
            '#bypassme': function (element, renderer) {
                return true
            }
        };

        margins = {
            top: 1,
            bottom: 1,
            left: 40,
            width: 500
        };

        pdf.fromHTML(
            $('#tablaMuestrasPDF')[0], 
            margins.left, // x coord
            margins.top, { // y coord
                'width': margins.width, 
                'elementHandlers': specialElementHandlers
            },
            

            function (dispose) {
                pdf.save(nombrePDF);
            }, margins
        );
        </script>
        <br>
    </body>
</html>