<!doctype html>
<html>
  <%- include('includes/head.ejs') %>
  
<body>

  <%- include('includes/header.ejs') %>


    <div class="container-fluid">
      <div class="row">
          <div class="col-2"><br></div>
          <div class="col-8">
            <br><br><br>
              <div class="table-responsive">
                <table class="table table-bordered caption-top">
                    <thead class="table-light">
                      <tr style="text-align: center;">
                        <th scope="col" colspan="5" style="background: #c0c1ce;">Alertas</th>
                        <tr scope="col" colspan="3" style="background: #c0c1ce; text-align: center; font-weight: bold;">
                          <td></td>
                          <td>Nombre/Codigo Muestra</td>
                          <!-- <td>Codigo Muestra</td> -->
                          <td>Código SP</td>
                          <td>Días para caducar</td>
                          <td>Existencias</td>
                        </tr>
                      </tr>
                    </thead>
                    <tbody style="text-align: center;">
                      <% for (let alerta1 of alertaOne) { %>
                      <tr>
                        <% if ( alerta1.Color === "Rojo"){ %>
                        <th scope="row" style="background: #890000;">  </th>
                        <% } %>  
                        <% if ( alerta1.Color === "Naranja"){ %>
                        <th scope="row" style="background: #ff5733;">  </th>
                        <% } %>  
                        <% if ( alerta1.Color === "Amarillo"){ %>
                        <th scope="row" style="background: #FFC300;">  </th>
                        <% } %>  
                        <% if ( alerta1.Color === "Azul"){ %>
                        <th scope="row" style="background: #26929F;">  </th>
                        <% } %> 
                        <% if ( alerta1.Color === "Verde" && ( alerta1.Color !== "Azul" || alerta1.Color !== "Rojo"|| alerta1.Color !== "Amarillo" || alerta1.Color !== "Naranja") ||  alerta1.Color === "" ){ %>
                        <th scope="row" style="background: #00b347;">  </th>
                        <% } %> 

                        <% if ( alerta1.NombreMuestra === null || alerta1.NombreMuestra === ''  ){ %>
                        <td><%= alerta1.CodigoMuestra %></td>
                        <% } else { %>
                        <td><%= alerta1.NombreMuestra %></td>
                        <% } %> 
                        <td><%= alerta1.SP %></td>
                        <td><%= alerta1.DiasRestantes %> Días </td>
                        <td><%= alerta1.Cantidad.toPrecision(2) %> - <%= alerta1.UnidadMedida %></td>
                      </tr>
                      <% } %> 
                      <% for (let alerta2 of alertaTwo) { %>
                      <tr>
                        <% if ( alerta2.Color === "Rojo"){ %>
                        <th scope="row" style="background: #890000;">  </th>
                        <% } %>  
                        <% if ( alerta2.Color === "Naranja"){ %>
                        <th scope="row" style="background: #ff5733;">  </th>
                        <% } %>  
                        <% if ( alerta2.Color === "Amarillo"){ %>
                        <th scope="row" style="background: #FFC300;">  </th>
                        <% } %>  
                        <% if ( alerta2.Color === "Azul"){ %>
                        <th scope="row" style="background: #26929F;">  </th>
                        <% } %> 
                        <% if ( alerta2.Color === "Verde" && ( alerta2.Color !== "Azul" || alerta2.Color !== "Rojo"|| alerta2.Color !== "Amarillo" || alerta2.Color !== "Naranja") ||  alerta2.Color === "" ){ %>
                        <th scope="row" style="background: #00b347;">  </th>
                        <% } %> 
                          <% if ( alerta2.NombreMuestra === null || alerta2.NombreMuestra === ''  ){ %>
                          <td><%= alerta2.CodigoMuestra %></td>
                          <% } else { %>
                          <td><%= alerta2.NombreMuestra %></td>
                          <% } %> 

                          <td><%= alerta2.SP %></td>
                          <td><%= alerta2.DiasRestantes %> Días </td>
                          <td><%= alerta2.Cantidad.toPrecision(2) %> - <%= alerta2.UnidadMedida %></td>
                      </tr>
                      <% } %> 
                      <% for (let alerta3 of alertaThree) { %>
                        <tr>
                          <% if ( alerta3.Color === "Rojo"){ %>
                          <th scope="row" style="background: #890000;">  </th>
                          <% } %>  
                          <% if ( alerta3.Color === "Naranja"){ %>
                          <th scope="row" style="background: #ff5733;">  </th>
                          <% } %>  
                          <% if ( alerta3.Color === "Amarillo"){ %>
                          <th scope="row" style="background: #FFC300;">  </th>
                          <% } %>  
                          <% if ( alerta3.Color === "Azul"){ %>
                          <th scope="row" style="background: #26929F;">  </th>
                          <% } %> 
                          <% if (alerta3.Color === "Verde" && ( alerta3.Color !== "Azul" || alerta3.Color !== "Rojo"|| alerta3.Color !== "Amarillo" || alerta3.Color !== "Naranja") ||  alerta3.Color === "" ){ %>
                          <th scope="row" style="background: #00b347;">  </th>
                          <% } %> 

                            <% if ( alerta3.NombreMuestra === null || alerta3.NombreMuestra === ''  ){ %>
                            <td><%= alerta3.CodigoMuestra %></td>
                            <% } else { %>
                            <td><%= alerta3.NombreMuestra %></td>
                            <% } %> 
                            <td><%= alerta3.SP %></td>
                            <td><%= alerta3.DiasRestantes %> Días </td>
                            <td><%= alerta3.Cantidad.toPrecision(2) %> - <%= alerta3.UnidadMedida %></td>
                        </tr>
                        <% } %> 
                    </tbody>
                </table>
              </div>
          </div>
          <div class="col-2"><br></div>
      </div>
  </div>

  </body>
</html>