<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>
    <%if (id) { %>
            
            <br><br>
            <p style="text-align: center; font-size: 1.5em;"><strong>Modificar Usuario</strong></p>
            <br>
            <div class= "container-fluid"> 
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" >
                        <tr style="text-align: center;">
                            <th scope="col"><strong>Nombre Rol</strong> </th>
                        </tr>
                        <div class="row">
                            <div class="col-lg-offset-0 col-lg-12 col-xs-12 col-sm-12">
                                <div class="form-floating">
                                    <input type="text" name="CodigoMuestra" class="form-control" id="nombres" value="<%= usuario.Nombres %>" placeholder="C贸digo de Muestra">
                                    <label for="floatingInputGrid">Nombre o nombres</label>
                                </div>
                            </div>
                        </div>
                            <br>
                            <div>
                                <th scope="col"><strong>Apellidos</strong></th>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-0 col-lg-12 col-xs-12 col-sm-12">
                                    <div class="form-floating">
                                        <input type="text" name="CodigoMuestra" class="form-control" id="apellidos" value="<%= usuario.Apellidos %>" placeholder="C贸digo de Muestra">
                                        <label for="floatingInputGrid">Apellidos</label>
                                    </div>
                                </div>
                    
                            </div>
                                <br>
                                <tr>
                                    <th scope="col"><strong>Correo electr贸nico</strong></th>
                                </tr>
                                <div class="row">
                                    <div class="col-lg-offset-0 col-lg-12 col-xs-12 col-sm-12">
                                        <div class="form-floating">
                                            <input type="text" name="CodigoMuestra" class="form-control" id="correo" value="<%= usuario.CorreoElectronico %> " placeholder="C贸digo de Muestra">
                                            <label for="floatingInputGrid">...@bayer.com</label>
                                        </div>
                                    </div>
                                </div>
                            <br>
                            <tr>
                                <th scope="col"><strong>Rol</strong></th>
                            </tr>
                            <div class="row">
                                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                                    <select class="btn btn-secondary dropdown-toggle" type="button" id="rol" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <option value="Administrador">Administrador</option>
                                        <option value="Empleado Normal">Empleado Normal</option>
                                      </select>
                                    <br>
                             </div>
                        </div>
                    <div class="col-2"></div>
                </div>
            </div>
            
                    
                    <div style="text-align: center;">
                        <button id="submit" class="btn green"  role="button">Actualizar usuario</button>
                    </div>   
        
    <% } %>

    <script>
        $("#submit").click(function(){
  $.post(window.location.href,
  {
    "nombres":  $("#nombres").val(),
    "apellidos": $("#apellidos").val(),
    "correo": $("#correo").val(),
    "rol": $("#rol").val(),
    "_csrf": $("#_csrf").val(),
  },
  function(data, status){
    alert("Se actualizo el Usuario de manera exitosa");
    window.location.href = '/Usuarios/'
  });
}); 
    </script>
</body>
</html>