<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>
    <%if (id) { %>
            
            <br><br>
            <p style="text-align: center; font-size: 1.5em;"><strong>Modificar Usuario</strong></p>
            <br>
            <div class= "container-fluid"> 
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <form id="basic-form">
                        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" >
                        <tr style="text-align: center;">
                            <th scope="col"><strong>Nombre(s)</strong> </th>
                        </tr>
                        <div class="row">
                            <div class="col-lg-offset-0 col-lg-12 col-xs-12 col-sm-12">
                                <div class="form-floating">
                                    <input type="text" name="nombres" class="form-control" id="nombres" value="<%= usuario.Nombres %>" placeholder="Nombre completo">
                                    <label for="nombres"></label>
                                </div>
                            </div>
                        </div>
                            <br>
                            <div>
                                <th scope="col"><strong>Apellidos</strong></th>
                            </div>
                            <div class="row">
                                <div class="col-lg-offset-0 col-lg-12 col-xs-12 col-sm-12">
                                    <div class="form-floating">
                                        <input type="text" name="apellidos" class="form-control" id="apellidos" value="<%= usuario.Apellidos %>" placeholder="Apellidos">
                                        <label for="apellidos"></label>
                                    </div>
                                </div>
                    
                            </div>
                                <br>
                                <tr>
                                    <th scope="col"><strong>Correo electrónico</strong></th>
                                </tr>
                                <div class="row">
                                    <div class="col-lg-offset-0 col-lg-12 col-xs-12 col-sm-12">
                                        <div class="form-floating">
                                            <input type="text" name="correo" class="form-control" id="correo" value="<%= usuario.CorreoElectronico %> " placeholder="Correo Electronico del trabajo">
                                            <label for="correo"></label>
                                        </div>
                                    </div>
                                </div>
                            <br>
                            <tr>
                                <th scope="col"><strong>Rol</strong></th>
                            </tr>
                            <div class="row">
                                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                                    <select class="btn btn-secondary dropdown-toggle" name="rol" id="rol" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <option value="Administrador">Administrador</option>
                                        <option value="Empleado Normal">Empleado Normal</option>
                                      </select>
                                    <br>
                             </div>
                        </div>
                        <br>
                            <tr>
                                <th scope="col"><strong>Status de empleado</strong></th>
                            </tr>
                            <div class="row">
                                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                                    <select class="btn btn-secondary dropdown-toggle" type="button" name="status" id="status" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <option value="1">Activo</option>
                                        <option value="0">Inactivo</option>
                                      </select>
                                    <br>
                             </div>
                            </form>
                        </div>
                    <div class="col-2"></div>
                </div>
            </div>
           
            <br>
            <br>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-auto"></div>
                    <div class="btn-group me-auto" role="group" aria-label="First group">
                        <button type="submit" class="boton" id="submit" disabled>Actualizar Usuario</button>
                    </div>
                    
                </div>
                <br>
      
    <% } %>

    <script>
        function validate(){
            return $("#basic-form").validate({
                rules:{
                    correo:{
                        required: true,
                        email: true,
                    },
                    nombres: {
                        required: true,
                    },
                    apellidos: {
                        required: true,
                    },
                  
                },
                messages: {
                    correo:{
                        required: "El correo es obligatorio",
                        email: "Este campo debe ser un correo electrónico"
                    },
                    nombres:{
                        required: "El nombre es obligatorio"
                    },
                    apellidos:{
                        required: "Los apellidos son obligatorios"
                    },
                   
                }
            });
        }
        $(document).ready(function() {
        
            validate();
            $('input').on('blur', (elemento) =>{
                validate().element(elemento.target);
              //  console.log( $("#basic-form").valid())
            })
        });
        $("#submit").hover((ele)=>{
           if($("#basic-form").valid()){
            $("#submit").prop("disabled",false);
           }
        },)

        $("#submit").click(function(){
  $.post(window.location.href,
  {
    "nombres":  $("#nombres").val(),
    "apellidos": $("#apellidos").val(),
    "correo": $("#correo").val(),
    "rol": $("#rol").val(),
    "status": $("#status").val(),
    "_csrf": $("#_csrf").val(), 
  },
  function(data, status){
    alert("¡Actualización de usuario exitoso!");
    window.location.href = '/Usuarios/'
  });
}); 
    </script>
</body>
</html>