<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs') %>
    
<body>

    <%- include('includes/header.ejs') %>
    <!-- Option 1: Bootstrap Bundle with Popper -->


    <br>
    <br>
    <div class="container-fluid text-center">
        <h4><%= Titulo %></h4>
        <br />

        <div class="d-flex justify-content-center h-100">
            <!-- Main Content -->
            <div class="offset-lg-2 offset-md-2 col-xs-12 col-lg-9 col-sm-12 col-md-10">
                <form action="/Muestras/agregar" method="POST" class="RegistrarMuestraForm" enctype="multipart/form-data" onsubmit="mensaje()">
                    <%- include('includes/Form.ejs') %>

                    <div class="col-xs-12 col-lg-9 col-sm-12 col-md-9">
                        <hr>
                        <br>
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-auto"></div>
                            <div class="btn-group me-auto" role="group" aria-label="First group">
                                <button type="button" class="btn green" data-bs-toggle="modal" data-bs-target="#staticBackdrop-Contenedor" onclick="ModalContenedor()">Agregar Nuevo Contenedor</button>
                            </div>
                            <div class="btn-group me-auto" role="group" aria-label="Second group">
                                <button type="button" class="btn green" data-bs-toggle="modal" data-bs-target="#staticBackdrop-Formulacion" onclick="ModalFormulacion()">Agregar Nuevo Tipo de Formulación</button>
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="btn-group me-auto" role="group" aria-label="Second group">
                            <button type="submit" class="boton" id="Registrar-Actualizar">Registrar Muestra</button>
                        </div>
                    </div>
                </form>
            </div> <!-- /Main Content -->
        </div>
    </div>
    
    <%- include('Modals/Modal_Contenedor.ejs') %>
    <%- include('Modals/Modal_TipoDeFormulacion.ejs') %>
    <script src="/js/ValidacionRegistrarMuestra.js"></script>
    <script src="/js/validacionAgregarContenedor.js"></script>
    <script type="text/javascript">
        function ModalContenedor(NoContenedor,Clasificacion){
                $("#NoContenedor").val(NoContenedor);
                $("#Clasificacion").val(Clasificacion);
        }
        $(document).ready(function() {
                $('#Registrar').click(()=>{
                    $.post("/Muestras/agregarContenedor",
                        {
                            "NoContenedor":  $("#NoContenedor").val(),
                            "Clasificacion": $("#Clasificacion").val(),
                            "_csrf": $("#_csrf_modal").val(),
                        },
                        function(data, status){
                            alert("Registro de contenedor exitoso");
                            window.location.reload()
                        },
                    );
                })
                
        });
      </script>
      <script language="JavaScript">
        function mensaje() {
            alert("Registro de muestra exitoso!")
        }
    </script>
    <script type="text/javascript">
        function ModalFormulacion(Codigo,Formulacion,DescripcionFormulacion ){
                $("#Codigo").val(Codigo);
                $("#Formulacion").val(Formulacion);
                $("#DescripcionFormulacion").val(DescripcionFormulacion);
        }
        $(document).ready(function() {
                $('#RegistrarFormulacion').click(()=>{
                    $.post("/Muestras/agregarFormulacion",
                        {
                            "Codigo":  $("#Codigo").val(),
                            "Formulacion": $("#Formulacion").val(),
                            "DescripcionFormulacion": $("#DescripcionFormulacion").val(),
                            "_csrf": $("#_csrf_modal").val(),
                        },
                        function(data, status){
                            alert("Registro de formulación exitoso");
                            window.location.reload()
                        },
                    );
                })
        });
      </script>
</body>
</html>