<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
    
<body>

    <%- include('partials/header.ejs') %>
    <!-- Option 1: Bootstrap Bundle with Popper -->


    <br>
    <br>
    <div class="container-fluid text-center">
        <h4><%= Titulo %></h4>
        <br />

        <div class="container">
            <div class="row justify-content-md-end">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-5 small">
                    <label for="formFileSm" class="form-label">Hoja de Seguridad</label>
                    <input class="form-control form-control-sm" type="file" id="formFile">
                </div>
            </div>
        </div>
        <br>

        <div class="d-flex justify-content-center h-100">
            <!-- Main Content -->
            <div class="col-xs-12 col-lg-9 col-sm-12 col-md-9">
                <form>
                    <%- include('partials/Form.ejs') %>

                    <div class="btn-toolbar justify-content-around" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <button type="submit" class="boton" id="Registrar-Actualizar">Registrar Muestra</button>
                        </div>
                    </div>
                </form>
            </div> <!-- /Main Content -->
        </div>
    </div>
    
    <%- include('Modals/Modal_Contenedor.ejs') %>
    <%- include('Modals/Modal_TipoDeFormulacion.ejs') %>
    <%- include('Modals/Modal_TipoDeMuestra.ejs') %>
</body>
</html>