<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
    
<body>

    <%- include('includes/header.ejs') %>

    <br>
    <br>
    <div class="container-fluid text-center">
        <% if (Muestra.NombreMuestra){ %>
        <h4><%= Titulo %> <%= Muestra.NombreMuestra %></h4>
        <% } else { %>
            <h4><%= Titulo %> <%= Muestra.SP %></h4>
        <% } %>
        <br />
        <br />
        
        <div class="d-flex justify-content-center h-100">
            <!-- Main Content -->
            <div class="offset-lg-2 offset-md-2 col-xs-12 col-lg-9 col-sm-12 col-md-10">
                    <div class="col-xs-12 col-lg-9 col-sm-12 col-md-9">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-auto"></div>
                            <div class="btn-group me-auto" role="group" aria-label="First group">
                                <a class="boton" id="HojaSeguridad" href="/uploads/<%= Muestra.HojaSeguridad %>" target="_blank" role="button">Hoja de Seguridad</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <% if (Muestra.CodigoMuestra){ %>
                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating">
                                <input type="text" name="CodigoMuestra" class="form-control" id="floatingInputGrid" placeholder="Código de Muestra" value="<%= Muestra.CodigoMuestra %>" disabled>
                                <label for="floatingInputGrid">Código de Muestra</label>
                            </div>
                        </div>
                        <% } %>
                        
                        <% if (Muestra.SP){ %>
                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating">
                                <input type="text" name="SP" class="form-control" id="floatingInputGrid" placeholder="SP de Muestra" value="<%= Muestra.SP %>" disabled>
                                <label for="floatingInputGrid">SP de Muestra</label>
                            </div>
                        </div>
                        <% } %>
                        
                        <% if (Muestra.NombreMuestra){ %>
                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating">
                                <input type="text" name="NombreMuestra" class="form-control" id="floatingInputGrid" placeholder="Nombre de Muestra" value="<%= Muestra.NombreMuestra %>" disabled>
                                <label for="floatingInputGrid">Nombre de Muestra</label>
                            </div>
                        </div>
                        <% } %>

                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <input class="form-control" name="UnidadMedida" id="UnidadMedida" placeholder="floatingInputGrid" value="<%= Muestra.UnidadMedida %>" disabled>
                                <label for="floatingInputGrid">Unidad De Medida</label>
                            </div>    
                        </div>

                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <input type="number" name="Cantidad" class="form-control" id="floatingInputGrid" placeholder="Cantidad" value="<%= (Muestra.Cantidad).toFixed(2) %>"  disabled>
                                <label for="floatingInputGrid">Cantidad (<%= Muestra.UnidadMedida %>)</label>
                            </div>
                        </div>
                        
                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <input type="number" name="Concentracion" class="form-control" id="floatingInputGrid" placeholder="Concentracion (%)" value="<%= (Muestra.Concentracion).toFixed(2) %>"  disabled>
                                <label for="floatingInputGrid">Concentracion (%)</label>
                            </div>
                        </div>
                        
                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <input class="form-control" name="idTipoDeMuestra" id="floatingInputGrid" placeholder="Tipo de Muestra" value="<%= Muestra.Tipo %>" disabled>
                                <label for="floatingInputGrid">Tipo de Muestra</label>
                            </div>
                        </div>
                        
                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <input class="form-control" name="CodigoFormulacion" id="floatingInputGrid" placeholder="Codigo de Formulación" value="<%= Muestra.CodigoFormulacion %>" disabled>
                                <label for="floatingInputGrid">Codigo de Formulación</label>
                            </div>
                        </div>

                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <input class="form-control" id="floatingInputGrid" placeholder="Formulación" value="<%= Muestra.Formulacion %>" disabled>
                                <label for="floatingInputGrid">Formulación</label>
                            </div>
                        </div>

                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <textarea class="form-control text-center" id="floatingInputGrid" placeholder="Descripción de Formulación"   id="floatingTextarea" style="height:auto" disabled><%= Muestra.DescripcionFormulacion %></textarea>
                                <label for="floatingInputGrid">Descripción de Formulación</label>
                            </div>
                        </div>
                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating">
                                <input type="text" name="Lote" class="form-control" id="floatingInputGrid" placeholder="Lote de Muestra" value="<%= Muestra.Lote %>" disabled>
                                <label for="floatingInputGrid">Lote de Muestra</label>
                            </div>
                        </div>
                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <input class="form-control" name="UsoMuestra" id="floatingInputGrid" placeholder="Uso de Muestra" value="<%= Muestra.UsoMuestra %>" disabled>
                                <label for="floatingInputGrid">Uso de Muestra</label>
                            </div>
                        </div>
                        
                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <input class="form-control" name="Clasificacion" id="floatingInputGrid" placeholder="Tipo de Contenedor" value="<%= Muestra.Clasificacion %>" disabled>
                                <label for="floatingInputGrid">Tipo de Contenedor</label>
                            </div>
                        </div>
                        <% if (Muestra.NoContenedor) { %>
                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <input type="number" name="NoContenedor" class="form-control" id="floatingInputGrid" placeholder="Número de Contenedor" value="<%= Muestra.NoContenedor %>"disabled>
                                <label for="floatingInputGrid">Número de Contenedor</label>
                            </div>
                        </div>
                        <% }%>

                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <input type="datetime"  class="form-control" id="floatingInputGrid" placeholder="Fecha de Ingreso" value="<%= new Date(Muestra.FechaIngreso).toLocaleString('es-Mx') %>" disabled>
                                <label for="floatingInputGrid">Fecha de Ingreso</label>
                            </div>
                        </div>
                        
                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <input type="datetime" name="FechaFabricacion" class="form-control" id="floatingInputGrid" placeholder="Fecha de Fabricación" value="<%= new Date(Muestra.FechaFabricacion).toLocaleString('es-Mx') %>" disabled>
                                <label for="floatingInputGrid">Fecha de Fabricación</label>
                            </div>
                        </div>
                        
                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <input type="datetime" name="FechaCaducidad" class="form-control" id="floatingInputGrid" placeholder="Fecha de Caducidad" value="<%= new Date(Muestra.FechaCaducidad).toLocaleString('es-Mx') %>" disabled>
                                <label for="floatingInputGrid">Fecha de Caducidad</label>
                            </div>
                        </div>

                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <% if (Muestra.Status === '1'){ %>
                                <input type="text" class="form-control text-center" id="floatingInputGrid" value="Activa" disabled>
                                <label for="floatingInputGrid">Status de Muestra</label>
                                <% } else { %>
                                <input type="text" class="form-control text-center" id="floatingInputGrid" value="Muestra inactiva" disabled>
                                <label for="floatingInputGrid">Status de Muestra</label>
                                <% }%>
                            </div>
                        </div>

                        <% if (Muestra.Status === '0'){ %>
                        <div class="col-lg-offset-0 col-lg-9 col-xs-9 col-sm-9">
                            <div class="form-floating small">
                                <textarea  class="form-control" name="ReporteSituacion" placeholder="Reporte de situación" id="reporte" style="height: auto" disabled>Reporte: 
                                    <%= Muestra.Reporte %></textarea>
                            </div>
                        </div>
                        <% }%>

                        
                </div><!--/ Row-->
                <div class="col-xs-12 col-lg-9 col-sm-12 col-md-9">
                    <hr>
                    <% if( Permisos === "Administrador" ) { %>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-auto"></div>
                        <div class="btn-group me-auto" role="group" aria-label="First group">
                            <a class="boton" id="Registrar-Actualizar" href="/Muestras/editar/<%= Muestra.idMuestra %>" role="button">Actualizar información</a>
                        </div>
                        <div class="btn-group me-auto" role="group" aria-label="Second group">
                            <form action="/Muestras/delete/<%= Muestra.idMuestra %>" method="post" class="BorrarMuestra" id="BorrarMuestra"  onsubmit="return confirmation()">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="" type="submit" class="boton" id="Registrar-Actualizar" href="/Muestras/delete/<%= Muestra.idMuestra %>">Eliminar Muestra</button>
                            </form>
                        </div>
                    </div>
                    <% }%>
                    <br>
                </div>
            </div> <!-- /Main Content -->
        </div>
    </div>
    <script language="JavaScript">
        function confirmation() {
            if(confirm("Cuidado! Esta seguro que desea eliminar una muestra con existencias?")){
                if(true){
                    alert("Muestra Borrada con exito")
                }
            }else{
                return false;
            }
        }
    </script>
</body>
</html>